* {
    box-sizing: border-box;
}

.calc-body {
    height: 900px;
    width: 650px;
    background-color: rgb(210, 200, 200);
    margin: auto;
    border-radius: 30px;
}

.calc-screen {
    height: 110px;
    width: 650px;
    background-color: black;
    margin-top: 10px;
    border-radius: 30px;
    border: 8px solid grey;
    color: yellow;
    text-align: right;
    padding: 20px;
    font-size: 40px;
    font-family: monospace;
}

.btn {
    padding: 5px;
    margin: 10px;
    font-size: 90px; 
    font-family: monospace;
    border-radius: 20px;


}

.btn:active {
    background-color: rgb(232, 21, 21); 
}
